{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate "Home" %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='core' %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url 'admin:core_file_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {% translate "Upload multiple files" %}
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <fieldset class="module aligned">
        {{ form.as_div }}
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="{% translate 'Upload' %}" class="default">
      </div>
    </form>
  </div>
{% endblock %}
